// ==========================================================================
// Utilities
// =

//Box Model
.margin-auto		{ margin: auto;}
.margin				{ margin:$margin-size;}
.no-margin			{ margin: 0px; }
.margin-vertical	{ margin: $margin-size 0 ;}

.padding--xsmall	{padding:($padding-size/4);}
.padding--small		{padding:($padding-size/2);}
.padding			{padding:$padding-size;}
.no-padding			{padding:0px;}

//Display

.inline			{ display: inline;}
.block			{ display: block !important;}
.inline-block	{ display: inline-block;}
.hidden 		{ display: none;}

.not-visible{
	max-height: 0;
	visibility: hidden;
	opacity: 0;
}

.visible{
	max-height: 300px;
	visibility: visible;
	opacity: 1;
}


@media (min-width: 993px) and (max-width: 1490px){ .hidden--large { display: none;} }

//Float

.float-right 	{ float: right; }
.float-left 	{ float: left; }

@media (min-width: 601px ){ .float-right--on-med-and-up { float: right!important; } }

//Position

.absolute	{ position: absolute; }
.relative	{ position: relative; }
.fixed		{ position: fixed; }


//Sizes

.height-100{ height: 100vh;}


//Transition

.transition {
  transition: 		  all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}

//Alingment

.middle		{ vertical-align: middle;}

.center-block{
	display:block;
	margin-left:auto;
	margin-right:auto
}

.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}