header {
	background-color: $dark-color;

	@media #{$large-and-up}{
		height: 76px;
	}
}

.header-container{
	@media #{$medium-and-down}{
		text-align: center;
	}
}

.nav-options{
	color: $light-color;
	margin: ($margin-size/2);
	@media #{$medium-and-up}{ float: right; }
	@media #{$small-and-down}{ text-align: center;}
	a{
		text-transform: uppercase;
		color: $light-color;
	}
}