// ==========================================================================
// Images
// =

.img-responsive{ max-width: 100%; }

.background-img {
	background-position: center top;
	background-size: cover;
}

.background-img--main {
	background-color: #000;
	@media #{$medium-and-up}{
		background-image: url(img/background.png);
	}
}