// ==========================================================================
// Utilities
// =

//Box Model
.margin                 { margin: $margin-size;}

.margin-auto            { margin: auto;}
.no-margin              { margin: 0 !important;}

.margin-xsmall          { margin: ($margin-size/4)}
.margin-small			      { margin: ($margin-size/2)}

.margin-vertical        { margin: $margin-size 0;}
.margin-horizontal      { margin: 0 $margin-size}

.margin-top             { margin-top: $margin-size}
.margin-top--l          { margin-top: ($margin-size*2)}

.padding--xsmall        { padding:($padding-size/4);}
.padding--small         { padding:($padding-size/2);}
.padding                { padding:$padding-size;}
.no-padding             { padding:0px;}

.padding-vertical       { padding:$padding-size 0;}

.margin-vertical--large {
  @media only screen and (min-width: $small-screen-up) and (max-width: $medium-screen) { margin: ($margin-size*2) 0;}
  @media #{$medium-and-up}{margin: ($margin-size*4) 0;}
}

//Display

.inline				{ display: inline;}
.block				{ display: block !important;}
.inline-block	{ display: inline-block;}
.inline-flex  { display: inline-flex;}
.hidden 			{ display: none;}

.not-visible{
	max-height: 0;
	visibility: hidden;
	opacity: 0;
}

.visible{
	max-height: 300px;
	visibility: visible;
	opacity: 1;
}


//Float

.float-right 	{ float: right; }
.float-left 	{ float: left; }

.no-float     { float: none !important; }


//Position

.absolute	{ position: absolute; }
.relative	{ position: relative; }
.fixed		{ position: fixed; }


//Sizes

.width-40			{ width: 40%}
.width-20			{ width: 20%}
.width-20			{ width: 20%}


.height-35     { height:35px;}

.width-100vh  { width: 100vw;}
.height-100vh { height: 100vh;}

.width-100p {width:100%;}

.height-herovh{
  height: 90vh;
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) { height: 70vh;}
}

.width-80--l{
  @media#{$large-and-up}{
    width:100%;
  }
}
//Transition

.transition {
  transition: 		  all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}

//Alingment

.vertical-aling--50 { vertical-align: 50% }

.middle		{ vertical-align: middle;}

.center-block{
	display:block;
	margin-left:auto;
	margin-right:auto
}

.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.center-full--l {
  @media#{$medium-and-up}{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.height-100vh--l{
  @media#{$medium-and-up}{
    height: 100vh;
  }
}


//Colors

.bg-dark{
  background: #000;
}
.bg-white{
  background-color: #FFF;
}

//Textstyle

.underlined{
  text-decoration: underline;
}

.no-jumpline{
  white-space:nowrap;
}
.divider-small{
  width: 50px;
  border-top: solid;
}